    body {
        padding: 0;
        margin: 0;
        background-size: cover;
        /* font-family: 'Quicksand', sans-serif; */
        background-color: #eee;
    }
    
    input[type="text"],
    td {
        text-align: center;
        font-size: 20px;
        width: 120px;
        height: 120px;
        margin-left: 25px;
        margin-right: 25px;
        border: solid 1.5px rgb(207, 194, 188);
        border-radius: 20px;
        box-shadow: 0 0 20px 5px #aaa;
        font-size: 35px;
        background-color: #eee;
        color: rgba(207, 194, 188, 0.993);
        font-size: 50px;
        caret-color: rgba(207, 194, 188, 0.993);
    }
    
    input[type=text]:focus {
        outline: 0px;
    }
    
    input {
        transform: translateY(50%);
    }
    
    #keyboardInputSection {
        width: 100%;
        text-align: center;
    }
    
    h1 {
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(207, 194, 188);
    }
    
    button {
        width: 200px;
        height: 50px;
        border: solid 2.5px rgb(207, 194, 188);
        border-radius: 10px;
        text-transform: uppercase;
        color: rgb(207, 194, 188);
        font-size: 130%;
        background-color: #ffff;
        border: solid 3px;
        transform: translateY(100px);
        transition: .2s;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    button:hover {
        border: solid 2px white;
        box-shadow: 0 0 20px 5px rgba(207, 194, 188, 0.993);
        background-color: rgb(207, 194, 188);
        color: #ffff
    }
    
    button:focus {
        outline: 0px
    }
    
    input:hover {
        box-shadow: 0 0 20px 5px rgba(207, 194, 188, 0.993);
    }
    
    #userInterface {
        width: 100%;
        height: 40%;
        position: absolute;
    }
    
    #clearButton {
        opacity: 0;
    }
    
    #startButton {
        opacity: 0.4;
        pointer-events: none;
    }