    body {
        padding: 0;
        margin: 0;
        background-size: cover;
    }
    
    input[type="text"],
    td {
        text-align: center;
        font-size: 20px;
        width: 80px;
        height: 80px;
        margin-left: 25px;
        margin-right: 25px;
        border: solid 1.5px rgb(207, 194, 188);
        border-radius: 10px;
        box-shadow: 0 0 20px 5px #aaa;
    }
    
    #keyboardInputSection {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: translateY(50px);
    }
    
    h1 {
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(207, 194, 188);
    }
    
    button {
        width: 200px;
        height: 50px;
        border: solid 2.5px rgb(207, 194, 188);
        border-radius: 10px;
        text-transform: uppercase;
        color: rgb(207, 194, 188);
        font-size: 130%;
        background-color: #ffff;
        border: solid 3px;
        transform: translateY(50px);
        transition: .2s;
    }
    
    button:hover {
        background-color: rgb(215, 188, 156);
        color: rgb(255, 255, 255);
        translate: translateX(30);
    }
    
    input:hover {
        border: solid 2px rgb(207, 194, 188);
        box-shadow: 0 0 20px 5px rgb(207, 194, 188);
    }
    
    #userInterface {
        width: 1200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }